certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
pyquery==1.4.3
requests==2.25.1
urllib3==1.26.3
Werkzeug==1.0.1
requests[socks]
